<!doctype html>
<html ng-app="Chatty">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.4.3/css/aui.css" media="all">
  <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.4.3/css/aui-experimental.css" media="all">
  <!--[if lt IE 9]><link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.4.3/css/aui-ie.css" media="all"><![endif]-->
  <!--[if IE 9]><link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.4.3/css/aui-ie9.css" media="all"><![endif]-->
  {{#each fonts}}
  <link href="{{this}}" rel="stylesheet" type="text/css"/>
  {{/each}}
  {{#each styles}}
  <link href="{{furl this}}" rel="stylesheet" type="text/css"/>
  {{/each}}
</head>
<body class="aui-page-hybrid">
  <section id="content" role="main">
    {{{body}}}
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  {{! <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script> }}
  {{! <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script> }}
  {{! <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.min.js"></script> }}
  <script src="https://aui-cdn.atlassian.com/aui-adg/5.4.3/js/aui.js"></script>
  <!--[if lt IE 9]><script src="https://aui-cdn.atlassian.com/aui-adg/5.4.3/css/aui-ie.js"></script><![endif]-->
  {{#each scripts}}
  <script src="{{furl this}}"></script>
  {{/each}}
</body>
</html>
